
.carousel-inner img {
  margin: auto;
  width: 100%;
  height: auto;
}
.carousel img {
     margin: auto;
     width: 100%;
     height: auto;
}
.video{
  position: absolute;
    margin: auto;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body { background: powderblue !important;}

h1{
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
  font-family: montserrat;
}

h2{
  text-align: center;
  padding: 20px;

  font-family: serif;
  }

p{
    text-align: center;
    font-family:cursive;

  }

.container{
  text-align: left;
  align-items: center;
  padding: 10px;
}

main.container {
    margin-top: 50px;
}


.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
.bg-dark {
    background-color: black!important;
    color: green;
}
.row{
  align-items: center;
margin: 20px;
}

.images{

  padding-left:70px;

}
.btn-primary {
  align-items: center;
    color: #fff;
    background-color: #37b314;
    border-color: #37b314;

}

footer, #get-in-touch{
  margin-top: 10px;
  padding:1px;
  color: black;
  background-color: #fff;
  border: 2px solid black;
  text-align: center;

}

section.contrast {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram*/
.fa-instagram {
  background: darkmagenta;
  color: white;
}


body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.card {display:inline-block;}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


.card-tenor-gif-embed{
  width: 100%;
  height: 15vw;
  object-fit: cover;

.blockquote p {
font-family: 'Caveat', cursive;
font-size: 30px

}
